fastapi
uvicorn
python-multipart

langchain
langchain-community
langchain-core
langchain-text-splitters

chromadb

sentence-transformers
transformers
torch

ollama

pypdf

numpy
pandas

scikit-learn

tqdm